<!DOCTYPE html>
<html lang="en">
    <head>
        <title>APP1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href='https://fonts.googleapis.com/css?family=Lalezar' rel='stylesheet'>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/fontawesome.min.css">
        <link rel="stylesheet" href="/css/icons.css?v=2">
        <link rel="stylesheet" href="/css/common.css?v=89">
        <link rel="stylesheet" href="/css/index-main.css?v=73">
        
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/fontawesome.min.js"></script>
        <script src="/js/home-common.js?v=69"></script>
    </head>

    <body>
        {% include('Include/Views/header.html') %}
        <div class="bgimg">
            <div class="col-12">
                <div class="row d-flex justify-content-center">
                    <div class="card slogan">
                        <div class="card-body text-center">
                            <h1 class="bigslogan"><b>CLOUD SOLUTIONS, COMPANY MISSION, OTHER THINGS</b></h1>
                            <h5>SAdsadsa sadsadsadsa sadasdsa sad asd sadsa sad sad a   dsa asd asdas asds sad asd</h5>
                            <button class="btn btn-outline-warning">VIEW PACKAGES</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container text-center mt-5">
            <h1><b>PACKAGE OVERVIEW</b></h1>
            <div class="row d-flex justify-content-center">
                <div class=" text-center prod mt-3">
                    <div class="card card-prod">
                        <div class="card-body">
                            <h3><b>BASIC</b></h3>
                            <h4><b>$10 / Month</b></h4>
                            <span>Designed for small WordPress sites and email boxes. Great for individuals or small startups. </span>
                            <hr>
                            <p>2 GiB memory</p>
                            <p>1 CPU core</p>
                            <p>25 GiB SSD Storage</p>
                            <button class="btn btn-warning">GET PLAN</button>
                        </div>
                    </div>
                </div>
                <div class=" text-center prod mt-3">
                    <div class="card card-prod">
                        <div class="card-body">
                            <h3><b>STANDARD</b></h3>
                            <h4><b>$30 / Month</b></h4>
                            <span>Perfect for a simple Magento site, multiple WordPress sites or application installations. </span>
                            <hr>
                            <p>3 GiB memory</p>
                            <p>1 CPU core</p>
                            <p>25 GiB SSD Storage</p>
                            <button class="btn btn-warning">GET PLAN</button>
                        </div>
                    </div>
                </div>
                <div class=" text-center prod mt-3">
                    <div class="card card-prod">
                        <div class="card-body">
                            <h3><b>PREMIUM</b></h3>
                            <h4><b>$50 / Month</b></h4>
                            <span>Great for multi-site WordPress, larger e-commerce sites with emails and bigger container applications.</span>
                            <hr>
                            <p>5 GiB memory</p>
                            <p>2 CPU core</p>
                            <p>25 GiB SSD Storage</p>
                            <button class="btn btn-warning">GET PLAN</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="div-includes mt-5">
            <div class="container text-center "><br>
                <h1><b>INCLUDED IN ALL PACKAGES</b></h1>
                <div class="row d-flex justify-content-center mt-5">
                    <div class="include text-center mt-2">
                        <div class="card card-include">
                            <div class="card-body">
                                <i class="fas fa-cogs fa-5x"></i>
                                <p><h5><b>OPERATING SYSTEM</b></h5></p>
                                <span>description asdas asdhjsadsa asdjsada sadjasda</span>
                                <div>
                                    <a href="#">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="include text-center mt-2">
                        <div class="card card-include">
                            <div class="card-body">
                                <i class="fas fa-shield-alt fa-5x"></i>
                                <p><h5><b>DDOS PROTECTED</b></h5></p>
                                <span>description asdas asdhjsadsa asdjsada sadjasda</span>
                                <div>
                                    <a href="#">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="include text-center mt-2">
                        <div class="card card-include ">
                            <div class="card-body">
                                <i class="fas fa-award fa-5x"></i>
                                <p><h5><b>TRUSTED</b></h5></p>
                                <span>description asdas asdhjsadsa asdjsada sadjasda</span>
                                <div>
                                    <a href="#">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center mt-2">
                    <div class="include text-center mt-2">
                        <div class="card card-include">
                            <div class="card-body">
                                <i class="fas fa-tools fa-5x"></i>
                                <p><h5><b>CONTROL PANEL</b></h5></p>
                                <span>description asdas asdhjsadsa asdjsada sadjasda</span>
                                <div>
                                    <a href="#">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="include text-center mt-2">
                        <div class="card card-include">
                            <div class="card-body">
                                <i class="fas fa-server fa-5x"></i>
                                <p><h5><b>DEDICATED SERVER</b></h5></p>
                                <span>description asdas asdhjsadsa asdjsada sadjasda</span>
                                <div>
                                    <a href="#">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="include text-center mt-2">
                        <div class="card card-include ">
                            <div class="card-body">
                                <i class="fas fa-headset fa-5x"></i>
                                <p><h5><b>SUPPORT</b></h5></p>
                                <span>description asdas asdhjsadsa asdjsada sadjasda</span>
                                <div>
                                    <a href="#">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center mt-2 ">
                    <div class="include text-center mt-2 mb-2">
                        <div class="card card-include">
                            <div class="card-body">
                                <i class="fas fa-database fa-5x"></i>
                                <p><h5><b>SECURED DATA</b></h5></p>
                                <span>description asdas asdhjsadsa asdjsada sadjasda</span>
                                <div>
                                    <a href="#">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="include text-center mt-2 mb-2">
                        <div class="card card-include">
                            <div class="card-body">
                                <i class="fas fa-clock fa-5x"></i>
                                <p><h5><b>FREE TRIAL</b></h5></p>
                                <span>description asdas asdhjsadsa asdjsada sadjasda</span>
                                <div>
                                    <a href="#">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="include text-center mt-2 mb-2">
                        <div class="card card-include ">
                            <div class="card-body">
                                <i class="fas fa-save fa-5x"></i>
                                <p><h5><b>DAILY BACKUP</b></h5></p>
                                <span>description asdas asdhjsadsa asdjsada sadjasda</span>
                                <div>
                                    <a href="#">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-support">
            <div class="container text-center">
                <div class="p-5">
                    <h1><b>GET YOUR SUPPORT</b></h1>
                    <h4><b>WE HAVE 24/7 TECHNICAL SUPPORT</b></h4>
                </div>
                
                <div class="row d-flex justify-content-center mt-2">
                    <div class="os text-center mb-2">
                        <div class="card card-support shadow bg-white rounded">
                            <div class="card-body">
                                <i class="fas fa-at fa-5x"></i>
                                <p><h5><b>EMAIL</b></h5></p>
                            </div>
                        </div>
                    </div>
                    <div class="os text-center mb-2">
                        <div class="card card-support shadow bg-white rounded">
                            <div class="card-body">
                                <i class="fas fa-comments fa-5x"></i>
                                <p><h5><b>CHAT SUPPORT</b></h5></p>
                            </div>
                        </div>
                    </div>
                    <div class="os text-center mb-2">
                        <div class="card card-support shadow bg-white rounded">
                            <div class="card-body">
                                <i class="fas fa-phone-square fa-5x"></i>
                                <p><h5><b>PHONE CALL</b></h5></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="whyus mt-5">
            <div class="container text-center">
                <h2><b>Why (this company) ?</b></h2>
                <h4>For state-of-the-art hardware, knowledgeable assistance, and 24/7/365 support, choose (this company).</h4>
                <div class="row d-flex justify-content-center mt-2 ">
                    <div class="why text-left mt-2 mb-2 ">
                        <div class="card card-why border-0">
                            <div class="card-body">
                                <p><h5><i class="fas fa-chart-line"></i><b> Performance</b></h5></p>
                                <span>(this company) cutting-edge software and technology provide the perfect platform for a fast and responsive website.</span>
                            </div>
                        </div>
                    </div>
                    <div class="why text-left mt-2 mb-2">
                        <div class="card card-why border-0">
                            <div class="card-body">
                                <p><h5><i class="fas fa-headset"></i><b> Support</b></h5></p>
                                <span>Our team of experts and comprehensive Knowledge Base will answer any of your web hosting questions.</span>
                            </div>
                        </div>
                    </div>
                    <div class="why text-left mt-2 mb-2">
                        <div class="card card-why border-0">
                            <div class="card-body">
                                <p><h5><i class="fas fa-fist-raised"></i><b> Dedication</b></h5></p>
                                <span>Our dedication to your success means we are here 24/7/365 to teach, guide, and provide solutions.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include('Include/Views/footer.html') %}
        {% include('Include/Views/support.html') %}
    </body>
</html>
