<div class="footer-div">
    <div class="container">
        <div class="row ml-5">
            <div class="col mt-5 aign-items-center">
                <h5><b>HOSTING</b></h5>
                <ul class="list-unstyled">
                    <li><a href="#">Cloud Server</a></li>
                    <li><a href="#">Web Hosting</a></li>
                    <li><a href="#">Cloud VPS</a></li>
                </ul>
            </div>
            <div class="col mt-5">
                <h5><b>SERVICES</b></h5>
                <ul class="list-unstyled">
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Network Services</a></li>
                </ul>
            </div>
            <div class="col mt-5">
                <h5><b>SUPPORT</b></h5>
                <ul class="list-unstyled">
                    <li><a href="#">Chat Support</a></li>
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Phone Call</a></li>
                </ul>
            </div>
            <div class="col mt-5">
                <h5><b>COMPANY</b></h5>
                <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="container col-8">
        <hr>
    </div>
    <div class="lower-footer text-center mt-2">
        <span>Get Intouched with us.</span>
        <div class="container text-center">
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fab fa-qq fa-3x"></i></li>
            </ul>
        </div>
        <div class="text-center">
            <span>All Rights Reserved 2019</span>
            <p>(COMPANY NAME)</p>
            <p>(COMPANY ADDRESS) | (COMPANY CONTACT NUMBER)</p>
        </div>
    </div>
</div>