<div class="row floater">
    <div class="trig-div">
        <div class="support-trigger">
        </div>
    </div>
    <div class="support-float text-center ">
        <ul class="list-unstyled support-list">
            <li><a href="#">CONTACT 1</a></li>
            <li><a href="#">CONTACT 2</a></li>
            <li><a href="#">CONTACT 3</a></li>
            <li><a href="#">CONTACT 4</a></li>
            <li><a href="#">CONTACT 5</a></li>
            <li><a href="#">CONTACT 6</a></li>
        </ul>
    </div>
</div>


