<!DOCTYPE html>
<html lang="en">
    <head>
        <title>APP1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href='https://fonts.googleapis.com/css?family=Lalezar' rel='stylesheet'>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/fontawesome.min.css">
        <link rel="stylesheet" href="/css/common.css?v=100">
        <link rel="stylesheet" href="/css/hosting.css?v=42">

        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/fontawesome.min.js"></script>
        <script src="/js/home-common.js?v=69"></script>
    </head>

    <body>
        {% include('Include/Views/header.html') %}
        <div class="bgimg3">

        </div>
        <div class="d-flex justify-content-center prod-div">
            <div class="d-flex flex-column text-center">
                <h1 class="mt-5"><b>PACKAGE OVERVIEW</b></h1>
                <div class="cs-prod border mt-5 p-2">
                    <div class="row">
                        <div class="col-4 border-right text-center">
                            <h3><b>PLAN 1</b></h3>
                            <div class="bg-info">
                                <h4><b>$10 / Month</b></h4>
                            </div>
                            <p>description asdasdsa sadsada asdasdas asdsadsa  asdasd asdas asdasda asdasd asdas sada sa dasd asdsa</p>
                            <button class="btn btn-warning btn-sm">GET PLAN</button>
                        </div>
                        <div class="col text-left">
                            <ul class="list-unstyled">
                                <li><b>Intel Xeon 4-Core 8-Thread</b></li>
                                <li><b>4 GB </b>RAM</li>
                                <li><b>1 TB </b>HDD</li>
                                <li>OTHER DETAILS</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cs-prod border mt-3 p-2">
                    <div class="row">
                        <div class="col-4 border-right text-center">
                            <h3><b>PLAN 2</b></h3>
                            <div class="bg-info">
                                <h4><b>$10 / Month</b></h4>
                            </div>
                            <p>description asdasdsa sadsada asdasdas asdsadsa  asdasd asdas asdasda asdasd asdas sada sa dasd asdsa</p>
                            <button class="btn btn-warning btn-sm">GET PLAN</button>
                        </div>
                        <div class="col text-left">
                            <ul class="list-unstyled">
                                <li><b>Intel Xeon 4-Core 8-Thread</b></li>
                                <li><b>4 GB </b>RAM</li>
                                <li><b>1 TB </b>HDD</li>
                                <li>OTHER DETAILS</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cs-prod border mt-3 mb-5 p-2">
                    <div class="row">
                        <div class="col-4 border-right text-center">
                            <h3><b>PLAN 3</b></h3>
                            <div class="bg-info">
                                <h4><b>$10 / Month</b></h4>
                            </div>
                            <p>description asdasdsa sadsada asdasdas asdsadsa asdasd asdas asdasda asdasd asdas sada sa dasd asdsa</p>
                            <button class="btn btn-warning btn-sm">GET PLAN</button>
                        </div>
                        <div class="col text-left">
                            <ul class="list-unstyled">
                                <li><b>Intel Xeon 4-Core 8-Thread</b></li>
                                <li><b>4 GB </b>RAM</li>
                                <li><b>1 TB </b>HDD</li>
                                <li>OTHER DETAILS</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="includes text-center mb-5">
            <h1 class="mt-5"><b>INCLUDED IN ALL WEB HOSTING PLAN</b></h1>
            <div class="row d-flex justify-content-center">
                <div class=" text-center include mt-3">
                    <div class="card card-include">
                        <div class="card-body">
                            <h3><b>CONTROL PANEL</b></h3>
                            <hr>
                            <p>Control Panel asdsa asdsadsa sdsadas dsadsad asdasd adasd adadas dasdas</p>
                        </div>
                    </div>
                </div>
                <div class=" text-center include mt-3">
                    <div class="card card-include">
                        <div class="card-body">
                            <h3><b>CONTROL PANEL</b></h3>
                            <hr>
                            <p>Control Panel asdsa asdsadsa sdsadas dsadsad asdasd adasd adadas dasdas</p>
                        </div>
                    </div>
                </div>
                <div class=" text-center include mt-3">
                    <div class="card card-include">
                        <div class="card-body">
                            <h3><b>CONTROL PANEL</b></h3>
                            <hr>
                            <p>Control Panel asdsa asdsadsa sdsadas dsadsad asdasd adasd adadas dasdas</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class=" text-center include mt-3">
                    <div class="card card-include">
                        <div class="card-body">
                            <h3><b>CONTROL PANEL</b></h3>
                            <hr>
                            <p>Control Panel asdsa asdsadsa sdsadas dsadsad asdasd adasd adadas dasdas</p>
                        </div>
                    </div>
                </div>
                <div class=" text-center include mt-3">
                    <div class="card card-include">
                        <div class="card-body">
                            <h3><b>CONTROL PANEL</b></h3>
                            <hr>
                            <p>Control Panel asdsa asdsadsa sdsadas dsadsad asdasd adasd adadas dasdas</p>
                        </div>
                    </div>
                </div>
                <div class=" text-center include mt-3">
                    <div class="card card-include">
                        <div class="card-body">
                            <h3><b>CONTROL PANEL</b></h3>
                            <hr>
                            <p>Control Panel asdsa asdsadsa sdsadas dsadsad asdasd adasd adadas dasdas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cloudbg text-center">
            <h1 class="p-3"><b>WEB HOSTING FEATURES</b></h1>
            <div class="row d-flex justify-content-center">
                <div class="text-left features mt-3">
                    <div class="card card-features border-0">
                        <div class="card-body">
                            <h4><b>Pay the Way You Prefer</b></h4>
                            <p>We offer convenient billing for Cloud Hosting, allowing you to pick the billing option that works best for you and your budget. Choose the billing cycle that works best for you (hourly through triennially).</p>
                        </div>
                    </div>
                </div>
                <div class="text-left features mt-3">
                    <div class="card card-features border-0">
                        <div class="card-body">
                            <h4><b>Full Management</b></h4>
                            <p>Our industry-leading support experts are always here for you, 24/7/365. Whether you need assistance or have questions, reach out to us via phone, Live Chat, or support ticket anytime to receive a prompt response from a real person.</p>
                        </div>
                    </div>
                </div>
                <div class=" text-left features mt-3">
                    <div class="card card-features border-0">
                        <div class="card-body">
                            <h4><b>SSD Drives</b></h4>
                            <p>Solid State Drives significantly increase the speed of your server, as they read and write information rapidly. Faster processing of data results in improved website performance and reduced loading time of site content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="text-left features mt-3">
                    <div class="card card-features border-0">
                        <div class="card-body">
                            <h4><b>Custom Templates</b></h4>
                            <p>With Custom Templates, you can configure and fine-tune the perfect server environment and quickly deploy future servers using the same configuration with just a click of a button.</p>
                        </div>
                    </div>
                </div>
                <div class="text-left features mt-3">
                    <div class="card card-features border-0">
                        <div class="card-body">
                            <h4><b>SSH Key Management</b></h4>
                            <p>Create or import your SSH keys on your server with ease within our Cloud Control Portal. Users can also configure the SSH Keys of their choice to be applied and added to future servers by default.</p>
                        </div>
                    </div>
                </div>
                <div class=" text-left features mt-3">
                    <div class="card card-features border-0">
                        <div class="card-body">
                            <h4><b>Instant Scalability</b></h4>
                            <p>Cloud servers are especially beneficial because they are scalable and customizable. We can increase your cloud server’s dedicated resources at any time in seconds. More RAM? More CPU? Done!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include('Include/Views/footer.html') %}
        {% include('Include/Views/support.html') %}
    </body>
</html>
