<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../Public/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../Public/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../Public/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../Public/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../Public/Admin/js/test.js"></script>
</head>
<body>
    <div class="container">
        <form id="login-form">
            <input class="form-control" type="text" name="username" placeholder="username"/>
            <input class="form-control" type="type" name="password" placeholder="password"/>
            <button type="submit" class="btn btn-success" >LOGIN</button>
        </form>
    </div>
    
</body>
</html>